@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');


* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Helvetica, Arial, sans-serif;
}

#topo{
    background-color: #F7F7F7;
    padding: 15px;
    text-align: right;
    font-weight: 400;
    font-size: 0.75em;
}

#topo a{
    padding-left: 20px;
    text-decoration: none;
    color: black;
}

#topo a:hover{
    color: #b66868;
}

#ultimo-link{
    padding-right: 35px;
}

.travessao{
    padding-left: 22px;
}

header{
    background-color: white;
    text-align: center;
}

header a{
    text-decoration: none;
    color: black;
    padding-left: 30px;
    font-size: 1.05em;
    font-weight: 400;
}

#cabecalho{
    padding-top: 40px;
    padding-bottom: 40px;
}

#cabecalho a{
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 100;
}

#cabecalho a:hover{
    text-decoration: underline;
    /* essa propriedade permite com que eu abaixe (em px) a linha underline para que ela não fique colocada no texto */
    text-underline-offset: 42px;
}

#promocao{
    background-color: #F7F7F7;
    padding: 18px;
    text-align: center;
}

#promocao strong{
    font-weight: bolder;
}

#promocao a{
    color: black;
}

main{
    margin: auto;
    max-width: 1350px;
    min-width: 320px;
}

#titulo-video{
    height: 175px;
    background-color: #F5F5F5;
    text-align: center;
}

#titulo-video > h1{
    font-family: Jost, sans-serif;
    font-weight: 900;
    /* transforma todas as letras em uppercase (maiúscula) */
    text-transform: uppercase;
    font-size: 2.6em;
    padding-top: 20px;
    letter-spacing: -1px;
}

#titulo-video > p{
    padding-top: 10px;
    font-size: 1.1em;
    font-weight: 300;
    text-shadow: 0.3px 0.3px 0px rgba(0, 0, 0, 0.184);
}

#saiba-mais {
    background-color: white;
    height: 100px;
    text-align: center;
    padding-bottom: 30px;
}

#saiba-mais-caixa{
    position: absolute;

    left: 47%;
    right: 50%;
    transform: translate(-46%, 57%);
}

#saiba-mais-caixa > p{
    text-align: center;
    font-size: 1.05em;
    background-color: black;
    color: white;
    border-radius: 30px;
    width: 90px;
    padding: 15px;
}

#saiba-mais a{
    text-decoration: none;
    color: white;
}

#saiba-mais-caixa p:hover{
    background-color: rgba(0, 0, 0, 0.588);
}

#produtos{
    padding-bottom: 35px;
}

.banners{
    width: 667px;
    /* deixando o height = auto, vai ser ajustado automaticamente para ter proporção com o width que eu escolhi. Pode ser feito o contrário também, ou seja, definir o height e colocar auto para o width */
    height: auto;
}

.banners-direita{
    padding-left: 7px;
}

.banners-acima{
    padding-bottom: 7px;
}

#icones-nike{
    padding-bottom: 35px;
}

#icones-nike h2{
    font-size: 2em;
    font-weight: 100;
    padding-bottom: 35px;
}

.icones{
    width: 329px;
    height: auto;
    padding-right: 5px;
}

#produtos-mais-buscados h2, #outras-categorias h2{
    font-size: 1.7em;
    font-weight: 100;
    padding-bottom: 20px;
}

#produtos-mais-buscados a, #outras-categorias a{
    text-decoration: none;
    color: #4D4D4D;
    font-size: 1.4em;
    padding-right: 46px;
    padding-bottom: 40px;
}

#produtos-mais-buscados a#primeiro-topico{
    padding-left: 15px;
    text-decoration: underline;
    text-underline-offset: 10px;
    color: black;
}

#produtos-mais-buscados a:hover{
    color: #8a7c7c;
}

#produtos-mais-buscados h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    font-weight: 100;
    padding-top: 30px;
    padding-bottom: 30px;
}


#produtos-mais-buscados ul, #outras-categorias ul {
    /* remove o marker dos itens da lista */
    list-style-type: none;
    padding-bottom: 40px;
}

#produtos-mais-buscados ul li, #outras-categorias ul li{
    font-weight: 100;
    color: #857385;
    line-height: 0.8;
    font-size: 0.7em;
}

#produtos-mais-buscados li:hover, #outras-categorias li:hover{
    color: black;
}

#feminino{
    position: absolute;
    width: 141px;
    left: 33%;
    right: 50%;
    transform: translate(-50%, -100%);
}

#masculino{
    position: absolute;
    width: 160px;
    left: 50%;
    right: 50%;
    transform: translate(46%, -100%);
}

#infantil{
    position: absolute;
    width: 174px;
    left: 88%;
    right: 50%;
    transform: translate(-50%, -100%);
}

.mostrar-mais-caixa{
    position: absolute;

    left: 47%;
    right: 50%;
    transform: translate(-17%, -200%);

   
}

#produtos-mais-buscados p.mostrar-mais, #outras-categorias p.mostrar-mais{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 7px;
    color: black;
    font-size: 0.7em;
    width: 94px;
    padding-left: 15px;
    padding-right: 15px;
    
}

#outras-categorias{
    background-color: #F5F5F5;  
}

#outras-categorias h2{
    padding-top: 40px;
    text-indent: 80px;
    padding-bottom: 30px;
}

#outras-categorias ul{
    /* usando essas propriedas, é possível definir 4 linhas por coluna */
    display: grid;
    grid-template-rows: repeat(4, auto); /* 4 linhas */
    grid-auto-flow: column; 
    padding-left: 80px;
}

footer{
    background-color: black;
    color: white;
}

footer a{
    text-decoration: none;
    color: white;
}

ul{
    list-style-type: none;
    padding-bottom: 200px;
}

#busca{
    padding-top: 40px;
    padding-left: 120px;
    line-height: 30px;
}

h4{
    font-weight: 100;
    padding-bottom: 25px;
}

.lista-com-titulo{
    font-size: 0.8em;
    line-height: 25px;
}

#ajuda{
    position: absolute;

    left: 45%;
    right: 50%;
    transform: translate(-72%, -94%);
    width: 131px;
}

#sobre-nike{
    position: absolute;

    left: 50%;
    right: 50%;
    transform: translate(83%, -135%);
    width: 113px;
}

hr{
    background-color: white;
}

